# GitLab
GITLAB_URL=https://gitlab.example.com
GITLAB_TOKEN=glpat-xxxxxxxxxxxxxxxxxxxx
SOURCE_TYPE=group
SOURCE_PATH=my-group

# LDAP
LDAP_URL=ldap://localhost:389
LDAP_BIND_DN=uid={{username}},ou=people,dc=example,dc=com
LDAP_ADMIN_USERS=admin,jdoe

# Server
PORT=3000
